In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-02-06 22:51:55,22.2855,114.1577,61.25,86,100,8.99
1,1,Ushuaia,AR,2022-02-06 22:47:41,-54.8000,-68.3000,62.22,63,75,10.36
2,2,Atuona,PF,2022-02-06 22:51:55,-9.8000,-139.0333,77.74,79,11,16.93
3,3,Coquimbo,CL,2022-02-06 22:51:56,-29.9533,-71.3436,65.93,77,40,12.66
4,4,Am Timan,TD,2022-02-06 22:51:56,11.0297,20.2827,72.09,20,2,6.33

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = [city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

temperatures = ["",""]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.

fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [6]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
#USING loc to recreate a new dataframe - 6.5.3

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-02-06 22:51:55,-9.8000,-139.0333,77.74,79,11,16.93
6,6,Rikitea,PF,2022-02-06 22:51:57,-23.1203,-134.9692,79.30,70,3,17.92
7,7,Butaritari,KI,2022-02-06 22:51:57,3.0707,172.7902,82.09,76,42,15.82
8,8,Kavaratti,IN,2022-02-06 22:51:58,10.5669,72.6420,77.74,69,18,10.76
11,11,Vaini,TO,2022-02-06 22:51:59,-21.2000,-175.2000,77.16,100,100,12.66
12,12,Avarua,CK,2022-02-06 22:52:00,-21.2078,-159.7750,82.45,78,40,16.11
16,16,Conde,BR,2022-02-06 22:52:02,-7.2597,-34.9075,80.06,74,0,9.22
19,19,Kita,ML,2022-02-06 22:52:03,13.0349,-9.4895,75.15,10,1,4.61
22,22,Kahului,US,2022-02-06 22:52:04,20.8947,-156.4700,82.42,64,0,18.41
23,23,Mount Isa,AU,2022-02-06 22:52:04,-20.7333,139.5000,80.37,61,49,10.36

In [20]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     77.74  -9.8000 -139.0333
6      Rikitea      PF     79.30 -23.1203 -134.9692
7   Butaritari      KI     82.09   3.0707  172.7902
8    Kavaratti      IN     77.74  10.5669   72.6420
11       Vaini      TO     77.16 -21.2000 -175.2000
12      Avarua      CK     82.45 -21.2078 -159.7750
16       Conde      BR     80.06  -7.2597  -34.9075
19        Kita      ML     75.15  13.0349   -9.4895
22     Kahului      US     82.42  20.8947 -156.4700
23   Mount Isa      AU     80.37 -20.7333  139.5000

In [23]:
from config import g_key

In [24]:
# 6.5.4 - HOTEL SEARCH: API Key, Latitude and longitude, 5,000-meter radius and Type of Place

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,77.74,-9.8000,-139.0333,Villa Enata
6,Rikitea,PF,79.30,-23.1203,-134.9692,People ThankYou
7,Butaritari,KI,82.09,3.0707,172.7902,Isles Sunset Lodge
8,Kavaratti,IN,77.74,10.5669,72.6420,Hotels in Lakshadweep Islands
11,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
12,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
16,Conde,BR,80.06,-7.2597,-34.9075,Pousada Beija Flor
19,Kita,ML,75.15,13.0349,-9.4895,Hôtel Chat Rouge
22,Kahului,US,82.42,20.8947,-156.4700,Maui Seaside Hotel
23,Mount Isa,AU,80.37,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [31]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))